body {
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: xx-large;
	background-color: white ;
}
header, footer {
	background: #424242;
	padding: 50px 0;
}
h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	line-height: 0,2;
}
h2 {
	text-align: left;
	color: #000;
	font-size: 50px;
	line-height: 0,2;
	margin: 0,1;
}
h3 {
	text-align: left;
	color: #000;
	font-size: 50px;
	line-height: 0,2;
}
h4 {
	text-align: left;
	color: #000;
	font-size: 100px;
	line-height: 0,2;
}
h5 {
	text-align: left;
	color: #000;
	font-size: 70px;
	line-height: 0,2;
}
h6 {
	text-align: left;
	color: #000;
	font-size: 70px;
	line-height: 0,2;
}
div{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	color: black;
}
aside, main {
	width: 50%;
	float: left;
}
aside1 {
	width: 100%;
	float: right;
}
aside img{
	display: block;
	width: 95%;
	margin: 50px 100px 0px 0px;
}
footer p{
	color: #fff;
	text-align: center;
}
.text-typing
{
    width: 20em;
    color:black;
    font-size: 50px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
.topbutton {
width:100px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:#333;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}
